<div class='row'>
  <div class='col-md-8'>
    <h1>Liga: {{league.name}}</h1>

    <div>
      <button class="btn btn-default" ng-click="creatingMatch = true">Crear Partido</button>
      <div collapse="!creatingMatch">
        <div class="well well-lg">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label for="inputNombre" class="col-sm-2 control-label">Nombre</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="match.name" placeholder="Nombre del partido">
              </div>
            </div>
            <div class="form-group">
              <label for="inputCancha" class="col-sm-2 control-label">Cancha</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="match.place" placeholder="Cancha">
              </div>
            </div>
            <div class="form-group">
              <label for="inputFecha" class="col-sm-2 control-label">Fecha</label>
              <div class="col-sm-10">
                <input type="text" class="form-control datepicker" ng-model="match.date" placeholder="Fecha">
              </div>
            </div>
            <div class="form-group">
              <label for="inputHora" class="col-sm-2 control-label">Hora</label>
              <div class="col-sm-10">
                <input type="text" class="form-control timepicker" ng-model="match.time" placeholder="Hora">
              </div>
            </div>
            <div class="form-group">
              <label for="inputPrecio" class="col-sm-2 control-label">Precio</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="match.price" placeholder="Precio por jugador">
              </div>
            </div>
            <div class="form-group">
              <label for="inputCantidadJugadores" class="col-sm-2 control-label">Cantidad de Jugadores</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="match.numberOfPlayers" placeholder="Cantidad de Jugadores">
              </div>
            </div>
          </form>
          <div>
            <button type="button" class="btn btn-default" ng-click="creatingMatch = false">Cancelar</button>
            <button type="button" class="btn btn-primary" ng-click="createMatch()">Crear</button>
          </div>
        </div>
      </div>
    </div>

    <h2>Partidos</h2>
    <div ng-if="!matches.length">No hay partidos en la liga</div>
    <div ng-if="matches.length" ng-repeat="match in matches">
      <a ng-href='/#/matches/{{match.code}}'>{{match.nombre}}</a>
    </div>
  </div>

  <div class='col-md-4 player-list'>
    <h2>Jugadores</h2>
    <div ng-repeat="player in league.players">
      <a ng-href='/#/player?code={{player.id}}'>{{player.name}}</a>
    </div>
  </div>
</div>

